# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
.venv/

# Environment secrets
.env

# Git
.git
.gitignore

# VS Code
.vscode/

# Database files
*.sqlite3

# Docker
Dockerfile
docker-compose.yml

# OS
.DS_Store
